{% extends 'base.html' %}
{% block content %}

<div id="grid_view_wrapper">
  <div style="display: none;" class="grid_box"></div>
  <ul style="list-style: none;">
    {% for student in students %}
      <li style="float: left;" class="outlier grid_box">{{ student.name }}</li>
    {% endfor %}
  </ul>
  <ul style="list-style: none;">
    {% for assignment in assignments %}
      <div class="grid_box">{{ assignment.name }}</div>
    {% endfor %}
  </ul>

  <div id="inner_grid">

    {% for assignment in assignments %}
      <form class="form_checkbox" action="#">
        <p>
          {% for student in students %}
          <label  class="grid_box">
            <input type="{{ user.assignment.status }}">
            <span></span>
          </label>
          {% endfor %}
        </p>
      </form>
      <br>
    {% endfor %}


  </div>

</div>

{% endblock %}
