{% extends 'base.html' %}
{% block content %}

<!-- Basic Modal Structure -->
<!-- <div class="center-modal">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Tempore nulla eaque dolor quos nisi eius eum accusamus 
                vero aliquam cupiditate. Debitis atque labore totam porro 
                aspernatur nihil qui ratione voluptates?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div> -->
{% endblock %}