{% extends 'base.html' %}
{% block content %}

<body class = "container">   
        <div class = "row">
           <form class = "col s12">
              <div class = "row">
                 <label>Add Assignment</label>
                 <div class = "file-field input-field">
                    <div class = "btn">
                       <span>Browse</span>
                       <input type = "file" />
                    </div>
                    
                    <div class = "file-path-wrapper">
                       <input class = "file-path validate" type = "text"
                          placeholder = "Upload file" />
                    </div>
                 </div>
              </div>


{% endblock %}
