{% extends 'base.html' %}
{% block content %}

<div id="grid_view_wrapper">
    <div id="empty_block"></div>
  {% for student in students %}
    <div>{{ student.name }}</div>
  {% endfor %}
  {% for assignment in assignments %}
    <div>{{ assignment.name }}</div> float left
  {% endfor %}
  <div>
    {% for student in students %}
      {% for assignment in assignments %}
      <form action="#">
        <p>
          <label>
            <input type="{{ assignment.status }}">
            <span></span>
          </label>
        </p>
      </form>
      <div>{{ assignment.status pk? }}</div>
      <br>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock %}
