{% extends 'base.html' %}
{% block content %}

<div class="container center">
  <form action="" method="post">
    <label for="">FIrst Name</label>
    <input type="text">
    <label for="">Last Name</label>
    <input type="text">
    <label for="">E=mail</label>
    <input type="text">
    <label for="">Location</label>
    <input type="text">
    <label for="">Class Type</label>
    <input type="text">
    <label for="">Password</label>
    <input type="text">
    <button></button>
  </form>
</div>
<!-- <div class="container center">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input value="Create Account" type="submit" class="btn">
  </form>
</div> -->

{% endblock %}
