{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
  <script src="{% static 'scripts/script.js' %}" type="text/javscript" defer></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>GA Homework Tracker</title>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href='/' class="brand-logo left">Home</a> <!-- GA logo here -->
        <ul class="right">
          <!-- All the list items below will need to be toggled depending on
          whether or not the user is logged on, or if they are an instructor -->
          {% if user.is_authenticated %}
            {% if user.profile.usertype == 'Instructor' %}
            <li><a href="{% url 'cohort_create' %}">Create Cohort</a></li>
            <li><a href="{% url 'cohort_overview' %}">Cohort Overview</a></li>       
            <li><a href="{% url 'logout' %}">Sign Out</a></li>   
            <li>Welcome {{user.profile.first_name}}!</li>
            <a href="#" datatarget="dropdown1" class="dropdown-trigger button"></a>
            {% else %}
            <!-- insert the nav bar for the student-->
            <li><a href="{% url 'index' %}">My Assignments</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
            <li>Welcome {{user.profile.first_name}}!</li>
            <!-- this drop-down in the nav bar is not working-->
            <!-- <ul id="dropdown1" class="dropdown-content">
              <li><a href="#">Reviewed work<span id="reviewed" class="new badge">none</span></a></li>
              <li><a href="#">Pending Review<span id="need-review" class="new badge">none</span></a></li>
              <li><a href="#">Missing Work<span id="missing" class="new badge">none</span></li>
            </ul> -->
            {% endif %}
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>  
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="http://mentalfloss.com/article/510332/35-happy-little-facts-about-bob-ross">More Links</a>
        </div>
      </div>
    </footer>

</body>
</html>

<script>
  $(document).ready(function() {
    $('select').attr("class", "browser-default")
 });
 </script>