body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}
main {
  flex: 1 0 auto !important;
}
.card{
  width: 300px;
  height: 300px;
  border: 3px;
  box-sizing: border-box;
  border-radius: 25px;
}
.page-head{
  text-align: center;
}
.card-image{
  width: 300px;
  height: 150px;
}
/* modal styling */
/* .center-modal {
  display: flex;
}
.center-modal .modal {
  position: relative;
  width: auto;
} */
