{% extends 'base.html' %}
{% block content %}

<h1>Assignment Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
          <span class="card-title">{{ assignment.name }}</span>
          <p>Type: {{ assignment.make }} {{assignment.model}}</p>
          <p>Description: {{ assignment.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'assignments_update' assignment.id %}">Edit</a>
        <a href="{% url 'assignments_delete' assignment.id %}">Delete</a>
      </div>
    </div>
    {% for photo in assignment.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' assignment.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form> 
  </div> 
  <div class="col s6">
    <form action="{% url 'add_feedback' assignment.id %}" method="post">
      {% csrf_token %}
      {{ feedback_form.as_p }}
      <input type="submit" class="btn" value="Add Feedback">
    </form>
    <br>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Duration</th></tr>
      </thead>
      <tbody>
        {% for feedback in assignment.feedback_set.all %}
          <tr>
            <td>{{feedback.date}}</td>
            <td>{{feedback.get_hour_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ assignment.name}}'s Objectives</h3>
    {% if assignment.objectives.count %}
      {% for objective in assignment.objectives.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{objective.make}} - {{objective.model}}</span>
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <h5>No Objectives :(</h5>
    {% endif %}
  </div>
  <!-- Available amps will come after this line-->
  <div class="col s6">
    <h3>Available Objectives</h3>
    {% if objectives.count %}
      {% for objective in objectives.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span>{{objective.make}} - {{objective.model}}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_objective' assignment.id objective.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{assignment.name}} Already Has All Objectives Available</h5>
    {% endif %}
  </div>
</div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var durationEl = document.getElementById('id_hour');
  M.FormSelect.init(durationEl);
</script>
{% endblock %}