{% extends 'base.html' %}
{% block content %}

<h1>Assignment List</h1>

{% for assignment in assignments %}
    <div class="index-card">
        <a href="{% url 'detail' assignment.id %}">
            <div class="index-card-content">
                <span class="card-title">Name: {{ assignment.name }}</span>
                <hr>
                <p>Description: {{ assignment.description }}</p>
                <p>Link: <a href= "{{assignment.github_url }}">{{ assignment.github_url }}</a></p>
                <p>Status: {{ assignment.status }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}
